@{
    ViewBag.Title = "About Us";
}

<div class="container" style="width: 100%; padding: 0px;">
    @Html.Partial("_ImageSlidercshtml")
    <h2 style="text-align: center; font-weight: bold; color: #FF4500;">@ViewBag.Title</h2>
    <h3>@ViewBag.Message</h3>
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12" style="padding:0px;margin-top:10px;">
        <div class="card">
            <div class="row no-gutters">
                <div class="col-sm-3">
                    <img class="card-img" src="~/images/donate.jpg" alt="Suresh Dasari Card" style="width:100%;">
                </div>
                <div class="col-sm-9">
                    <div class="card-body">
                        <div class="text">
                            <ul>
                                <li> poor students to achieve his/her Dreams in every possible way.</li>
                                <li>The population of Canada has been growing steadily creating a growing population of abandoned children. It is estimated that there are lacks of orphan children in Canada who are subjected to violence, child labor, trafficking. Most of these childrens are from poverty families.</li>
                                <li>We believe that a single action can make a difference in poor childrens requirements.</li>
                            </ul>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

