@{
    ViewData["Title"] = "Home Page";
}

<div class="container" style="width:100%;padding:0px;">
    @Html.Partial("_ImageSlidercshtml")
    <div class="row" style="padding:10px;">
        <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
            <div class="box-part text-center">
                <img src="~/images/Book.png" height="60" width="60" />
                <div class="title">
                    <h3 style="color:#FF4500 !important">Study Meterial</h3>
                </div>
                <div class="text" style="color:#FF4500 !important"> <span>Provide Study Meterial</span> </div>
            </div>
        </div>
        <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
            <div class="box-part text-center">
                <img src="~/images/clothes.png" height="60" width="60" />
                <div class="title">
                    <h3 style="color:#FF4500 !important">Clothes</h3>
                </div>
                <div class="text" style="color:#FF4500 !important"> <span>Provide Different Clothes</span> </div>
            </div>
        </div>
        <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
            <div class="box-part text-center">
                <img src="~/images/salad.png" height="60" width="60" />
                <div class="title">
                    <h3 style="color:#FF4500 !important">Food</h3>
                </div>
                <div class="text" style="color:#FF4500 !important"> <span>Provide Free Foods</span> </div>
            </div>
        </div>
        <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
            <div class="box-part text-center">
                <img src="~/images/medicine.png" height="60" width="60" />
                <div class="title">
                    <h3 style="color:#FF4500 !important">Medical Facilities</h3>
                </div>
                <div class="text" style="color:#FF4500 !important"> <span>Provide Free Medicines</span> </div>
            </div>
        </div>
    </div>
</div>

